.rm-border{
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid lightgray;
}
::placeholder {
    color:#979493;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.bg-textarea {
    background: #FBF8F7;
}

.mr-span{
    margin-right:5px;
}

footer{
    background-color:#F9855B;
}
.btn-color{
    background-color: #F9855B;
}

body{
    background-color: #E5E5E5;
}