.projects-h1 {
  width: fit-content;
  background: #0d6efd;
  border-left: 5px solid #191919;
}

#about {
  background-color: #191919;
  padding: 30px 0;
}

.btn-color {
  background: #0d6efd;
  font-weight: bolder;
}

.bg-language {
  background: #0d6efd;
  width: fit-content;
}

.header {
  background-image: url("./assets/images/bg-header.png");
  background-repeat: no-repeat;
}
