#about{
    background-color: #191919;
    padding:30px 0;
}
.btn-color{
    background: red;
    font-weight: bolder;
}
.bg-language{
    background:red;
    width:fit-content;
}
.header{
    background-image: url("./assets/images/bg-header.png");
    background-repeat: no-repeat;
}
