.header {
  width: 93vw;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.topdiv {
  display: flex;
}

.topdiv div{
  max-width: 60px;
  width: 30px;
  height: 10px;
  margin: 0 1px;
  background-color: hsla(0,0%,100%,.7);
}

.topdiv div:first-child {
  background-color: #ff6e30;
}

.topdiv div:last-child {
  width: 100%;
}

.bottomdiv {
  max-width: 60px;
  display: flex;
  margin-top: 2px;
}

.bottomdiv div{
  width: 20px;
  height: 10px;
  margin: 0 1px;
  background-color: hsla(0,0%,100%,.7);
}

.bottomdiv div:last-child {
  background-color: #ff6e30;
}

.links i {
  color: #fff;
  padding: 0 5px;
}

.links i:hover {
  color: #ff6e30;
}

.infoContainer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hsize {
  font-size: 2rem;
}

.hColor {
  color: #fff;
}

.txtColor {
  color: hsla(0,0%,100%,.7);
  padding: 0 3px;
  line-height: 1.5rem;
}

.profile_pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.info {
  display: flex;
}

.lborder {
  position: relative;
  width: 5px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ff6e30;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_link {
  display: block;
  padding: 8px 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-decoration: none;
  color: hsla(0,0%,100%,.7);
  font-weight: bold;
}

.active {
  color: #ff6e30
}
