.wrapper {
  width: 93%;
  display: flex;
}

.infoContainer {
  width: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.h {
  font-size: 2rem;
}

.hColor {
  color: #fff;
}

.hsoftware {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.txtColor {
  color: hsla(0, 0%, 100%, 0.7);
  padding: 0 3px;
  line-height: 1.5rem;
}

.profile_pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

.info {
  display: flex;
}

.lborder {
  position: relative;
  width: 5px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ff6e30;
}

@media only screen and (max-width: 600px) {
  .infoContainer {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .h {
    text-align: center;
  }

  .hsoftware {
    display: block;
    text-align: center;
  }
}
